*.idea
*.png
*.pdf
*.txt

*.py[cod]
*$py.class

*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

*.mo
*.pot

*.log
local_settings.py

instance/
.webassets-cache

.scrapy

docs/_build/

target/

.ipynb_checkpoints

.python-version

celerybeat-schedule

.env

venv/
ENV/

.spyderproject

.ropeproject

*.pickle

*.mat

*.npy

*.tar.gz

events.out.tfevents.*

*.csv

nane/data/Flickr-dataset/
nane/data/cora/
nane/data/flickr_save/
nane/analysis/daixin/
nane/analysis/evaluate.zip
nane/analysis/evaluation.zip
nane/analysis/evaluation/
nane/analysis/free_encoder/
nane/analysis/node_classification/eval.pkl
nane/analysis/node_classification/scikit-multilearn/
nane/analysis/node_classification_matlab/SocioDim.zip
nane/analysis/node_classification_matlab/SocioDim/
nane/analysis/temp.gif
nane/analysis/text8.zip
nane/data/ca-GrQc.txt.gz
nane/analysis/node_classification_matlab/temp.m
*.txt.gz
*.zip
*.mexmaci64
liblinear
files